@import "tailwindcss";

@theme {
  --font-serif: "Playfair Display", serif;
  --font-sans: "Montserrat", sans-serif;
  
  --color-gold: #D4AF37;
  --color-velvet: #0a0a0a;
}

html {
  scroll-behavior: auto; /* Lenis handles smooth scrolling */
}

body {
  background-color: var(--color-velvet);
  color: white;
  margin: 0;
  overflow-x: hidden;
  overscroll-behavior: none;
  background: #0a0a0a;
}

::-webkit-scrollbar {
  display: none;
}
